<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/litportal</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="c3p0.minPoolSize">3</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123</property>
        <mapping class="org.wtiger.inno.litportal.dbtools.hibernate.HibernateCommentsEntity"/>
        <mapping class="org.wtiger.inno.litportal.dbtools.hibernate.HibernateGroupsEntity"/>
        <mapping class="org.wtiger.inno.litportal.dbtools.hibernate.HibernatePostsEntity"/>
        <mapping class="org.wtiger.inno.litportal.dbtools.hibernate.HibernateUsersEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>