body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 70%;
}

.topline {
    background: #4d95d1;
    padding: 10px;
    height: 20%;
}

.main {
    padding: 10px;
    float: left;
    height: 70%

}

.bottomline {
    background: #4d95d1;
    padding: 10px;
    clear: both;
    height: 10%;
}

.registration-table {
    padding: 10px 10px 10px 10px;
}